html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

*,
body {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1rem;
}

button {
    font-family: 'Poppins', sans-serif;
}

#body {
    height: 100vh;
    max-height: 100vh;

}

#content {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    background-color: #19212e;
}

.main-window {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 15rem 1fr;
    height: 100%;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    padding: 1.5rem;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: hsl(217, 30%, 15%);
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar>h2 {
    font-size: 1.35rem;
    margin: 1rem 0 .5rem 0;
}

.sidebar>ul button {
    border: none;
    margin: .25rem;
}

.sidebar>ul h3 {
    font-size: 1rem;
    margin: .25rem;
    background-color: transparent;
}

.active-task-counter {
    margin-right: auto;
    color: #4fc97e;
    font-weight: 700;
    font-size: .7rem;
    align-self: start;
    /* this color should be changing according to number of tasks */
}

#project-list>li {
    display: flex;
    align-items: center;
    padding: 1.5rem .5rem;
    background-color: #ffffff11;
    transition: all .2s ease-in-out;
    margin: 1rem 0;
    border-radius: .25rem;
}

#project-list>li:hover {
    background-color: #ffffff1c;
}

.sidebar>ul {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex: 0 1 auto;
}

.sidebar>ul::-webkit-scrollbar {
    display: none;
}

button.task,
button.project {
    padding: .8rem;
    margin: 0;
    opacity: 0;
    transition: all .2s ease-in-out;
}

li:hover button.task,
li:hover button.project {
    opacity: .25;
}

li:hover button.task:hover,
li:hover button.project:hover {
    opacity: 1;
    background-size: 75%;
}

#new-project-button,
#new-task-button {
    flex: 1 0 50px;
    background-color: transparent;
    transition: all .2s ease-in-out;
    background: url(./images/plus.svg) no-repeat center;
    background-size: 2rem;
    border: none;
    border: 1px solid #131a24;
    margin: .5rem 0;
    border-radius: .25rem;
    opacity: .25;
}

#new-project-button:hover,
#new-task-button:hover {
    opacity: 1;
    background-color: #ffffff15;
    background-size: 2.5rem;
}

main>ul {
    display: flex;
    flex-direction: column;
    margin: 1rem;

}

main>ul>li {
    padding: 1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #131a24;
    border-radius: .25rem;
    margin: .5rem 0;
}

main>ul>li:hover {
    background-color: #ffffff15;
}

main>ul>li>.complete-input {
    scale: 1
}

main>ul>li>.complete-input:hover {
    scale: 1.5
}

main>ul>li>h3 {
    font-size: 1rem;
    margin-right: auto;
    margin-left: 2rem;
}

main>ul>li>button {
    margin-right: auto;
    margin: .25rem;
    border: none;
}

header {
    grid-area: header;
    width: 100%;
    background-color: #232e41;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 10px 25px #0000002c;
    font-size: 2.4rem;
    letter-spacing: -3px;
    box-shadow: 0 7px 10px #00000015;
    z-index: 1;
}

#header--logo {
    fill: white;
    height: 2.4rem;

}

main {
    grid-area: main;
}

button.project,
button.task {
    height: 1.5rem;
    background-repeat: no-repeat;
    width: 1.5rem;
}

.edit-button {
    background: url('./images/edit.svg') center;
    background-size: 50%;
}

.delete-button {
    background: url('./images/bin.svg') center;
    background-size: 50%;
}

.due-button {
    background: url('./images/calendar.svg') center;
    background-size: 50%;
}

#edit-window-holder {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #00000044;
}

#edit-window {
    background-color: #232e41;
    width: clamp(350px, 50%, 700px);
    padding: 2rem;
    border-radius: .5rem;
    ;
}

#edit-window input,
#edit-window select {
    position: relative;
    appearance: none;
    border: 1px solid #131a24;
    background-color: #131a24;
    padding: 1rem;
    border-radius: .25rem;
    transition: all .1s ease-out;
}

#edit-window input:hover,
#edit-window select:hover,
#edit-window input:focus,
#edit-window select:focus {
    border: 1px solid #2357a0;
    background-color: #1e2a3a;

}

#edit-window #list-of-task-parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#edit-window #list-of-task-parameters>li {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

#edit-window #list-of-task-parameters>li>label,
#edit-window #list-of-task-parameters>li legend {
    font-size: .8rem;
    font-weight: 700;
    word-spacing: 3px;
    margin-bottom: .4rem;

}

#edit-window #submit-and-cancel-button-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#edit-window #submit-and-cancel-button-holder>button {
    width: 100%;
    appearance: none;
    font-size: 1.25rem;
    padding: 1rem;
    margin: 1rem 0;
}

#edit-window #submit-and-cancel-button-holder>button {
    width: 100%;
    appearance: none;
    font-size: 1.25rem;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: .25rem;
    transition: all .1s ease-out;
}

#edit-window #submit-and-cancel-button-holder #submit-button {
    background-color: #1b8cf0;
    color: #ffffff
}

#edit-window #submit-and-cancel-button-holder #submit-button:hover {
    /* border: 3px solid #187254; */
    box-shadow: 0px 0px 10px 2px #1b8cf0;
}

#edit-window #submit-and-cancel-button-holder #cancel-button {
    background-color: #c4c4d1;
    color: rgb(0, 0, 0)
}

#edit-window #submit-and-cancel-button-holder #cancel-button:hover {
    /* border: 3px solid #187254; */
    box-shadow: 0px 0px 10px 2px #bdbdbd;
}


/* #edit-window input {
    appearance: none;
    border: 1px solid #131a24;
    background-color: #131a24;
} */

#list-of-task-parameters fieldset {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#list-of-task-parameters fieldset label {
    flex: 0 1 70px;
    padding: 1rem;
    border-radius: .25rem;
    border: 1px solid #131a24;
    background-color: #131a24;

}

#list-of-task-parameters fieldset label:hover,
#list-of-task-parameters fieldset label:focus {
    border: 1px solid #2357a0;
    background-color: #1e2a3a;
}

#list-of-task-parameters fieldset input:checked+label {
    border: 1px solid #2357a0;
    background-color: #1a2533;
}

fieldset>input {
    display: none;
}

#list-of-task-parameters fieldset img {
    width: 100%;
    height: 100%;
}

#flag-0 {
    filter: brightness(0) saturate(100%) invert(25%) sepia(11%) saturate(1284%) hue-rotate(180deg) brightness(96%) contrast(86%);
}

#flag-1 {
    filter: brightness(0) saturate(100%) invert(76%) sepia(37%) saturate(926%) hue-rotate(349deg) brightness(103%) contrast(95%);
}

#flag-2 {
    filter: brightness(0) saturate(100%) invert(42%) sepia(74%) saturate(2353%) hue-rotate(336deg) brightness(101%) contrast(89%);
}

#flag-3 {
    filter: brightness(0) saturate(100%) invert(19%) sepia(87%) saturate(4103%) hue-rotate(334deg) brightness(90%) contrast(94%);
}