html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

*,
body {
    font-family: 'Poppins', sans-serif;
    color: white
}

button {
    font-family: 'Poppins', sans-serif;
}

#body {
    height: 100vh;
    max-height: 100vh;

}

#content {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    background-color: #19212e;
}

.main-window {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 15ch 1fr;
    height: 100%;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}


.sidebar>ul {
    overflow-y: scroll;
    flex: 0 1 auto;
}

#new-project-button,
#new-task-button {
    flex: 1 0 50px;
    background: #ffffff10;
    opacity: .5;
    transition: all .2s ease-in-out;
    background-image: url(./images/plus.svg);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

#new-project-button:hover,
#new-task-button:hover {
    opacity: 1;
}

main>ul {
    display: flex;
    flex-direction: column;
}

main>ul>li {
    display: flex;
    justify-content: center;
}

main>ul>li>button:first-child {
    margin-right: auto;
    flex: 1 0 auto;
}

main>ul>li>button:not(:first-child) {
    margin-right: auto;
    flex: 0 0 50px;
}

header {
    grid-area: header;
    width: 100%;
    background-color: #232e41;
}

main {
    grid-area: main;
}

button.project,
button.task {
    height: 50px;
    width: 50px;
}

.edit-button {
    background-image: url('./images/edit.svg');
    background-size: 100%;
}

.delete-button {
    background-image: url('./images/bin.svg');
    background-size: 100%;
}

.due-button {
    background-image: url('./images/calendar.svg');
    background-size: 100%;
}